In [1]:
a=1
type(a)

int

In [13]:
import math

In [15]:
#function>> print,len,type>>inbuilt function
math.ceil(3.7)

4

In [19]:
#user define function
def greet(name):#name is positional argument
    print("Welcome to the Wizard World", name)
greet("Manav")

Welcome to the Wizard World Manav

In [20]:
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [46]:
def func():
    print("This is my First Function")
func()

This is my First Function

In [47]:
"This is my first function"+" in Python"

'This is my first function in Python'

In [48]:
func()+" in Python"

This is my First Function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [24]:
type(func())

This is my First Function

NoneType

In [26]:
def func():
    return "This is my first Function"
func()

'This is my first Function'

In [27]:
func()+"In Python"

'This is my first FunctionIn Python'

In [28]:
def func():
    return "Manav",1,2,122.34
func()

('Manav', 1, 2, 122.34)

In [31]:
type(func())

tuple

In [32]:
a,b,c,d=func()

In [33]:
a

'Manav'

In [34]:
ab=func()

In [35]:
ab[0]

'Manav'

In [36]:
def square(a):
    return a*a

In [37]:
square(11)

121

In [38]:
def sum(a,b):
    return a+b

In [39]:
sum(2,3)

5

In [40]:
sum("Manav","Rastogi")# a,b positional argument

'ManavRastogi'

In [41]:
sum([1,2,3],[5,6,7])

[1, 2, 3, 5, 6, 7]

In [42]:
sum(b="Rastogi",a="Manav")

'ManavRastogi'

In [53]:
#default argument
def sum(b,c,a=0):# default func is passed to the function should be in the last
    return a+b+c

In [56]:
sum(c=1,b=3)

4

In [57]:
def add():
    a=int(input("Enter a no1"))
    b=int(input("Enter a no2"))
    return a+b
add()

34

In [66]:
#give to the list you can give the only numeric value
def onlyno(list1):
    n=[]
    for i in list1:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [67]:
l=[1,2,3.4,"Manav"]
onlyno(l)

[1, 2, 3.4]

In [14]:
#take nested list you want to numeric value
def only_nueric(l):
    n=[]
    for i in l:
        if type(i)==int or type(i)==float:
            n.append(i)
        elif type(i)==list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n.append(j)
    return n

In [16]:
only_nueric([1,2,32.2,"Manav",3+5j,[45,5,6.7,"Rastogi"]])

[1, 2, 32.2, 45, 5, 6.7]

In [17]:
#variable length of the argument >> when we dont know the the no of argument
def sum(*args):
    return args

In [19]:
sum(1,2)

(1, 2)

In [20]:
#function you can take any no of value
def sum(*args):
    s=0
    for i in args:
        s+=i
    return s

In [21]:
sum(1,2,3,4,5)

15

In [24]:
# variable argument with default argument
def sum1(*args,a):
    return args,a

In [25]:
sum1(1,2,3,4,a=2)

((1, 2, 3, 4), 2)

In [26]:
#variable argument>> takes any no of argument 
#positional argument >> fixed number

In [29]:
#function take any no of value and return the list
def return_list(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [31]:
return_list(1,2,3,[1,23,44,1.2],{1,2,3})

[[1, 23, 44, 1.2]]

In [32]:
# function 
def company(name,project):
    return f"{name} is working on the {project}"

In [33]:
company("Manav","Web development")

'Manav is working on the Web development'

In [34]:
# variable length and keyword argument together
def test(*args,**args1):
    return args,args1

In [37]:
test(1,2,3,a=10,b=12)

((1, 2, 3), {'a': 10, 'b': 12})

In [40]:
# python namesapce 
def greet():
    message="Hello,Welcome"# this s the local variable
    return message

In [39]:
print(message)

NameError: name 'message' is not defined

In [41]:
subpart="Wizard is comming"#global variableS
def greet():
    message="Hello, welcome"+subpart
    return message

In [42]:
greet()

'Hello, welcomeWizard is comming'

In [44]:
#namespace >> scope of the varible
# global it can acess anywhere 
# local it can acess inside the function

In [58]:
#function inside the function
def sum_marks(l):
    s=0
    for i in l:
        s+=i
    return s
def marks_in_subject(**kwargs):

    marks_list=[]
    for sub,mark in kwargs.items():
        marks_list.append(mark)
    return sum_marks(marks_list)

In [59]:
marks_in_subject(a=100,b=12,c=90,d=100)

302

In [63]:
#power function
def find_power(num,power):
    """ the function return the power of the function
        args:
            num(int):provide integer as input
            power(int):provide power as integer
        Returns:
            integer:no of the power
    """
    poww=1
    for i in range(power):
        poww*=num
    return poww

In [64]:
find_power(2,10)

1024