In [1]:
a=1
type(a)

int

In [13]:
import math

In [15]:
#function>> print,len,type>>inbuilt function
math.ceil(3.7)

4

In [19]:
#user define function
def greet(name):#name is positional argument
    print("Welcome to the Wizard World", name)
greet("Manav")

Welcome to the Wizard World Manav

In [20]:
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [46]:
def func():
    print("This is my First Function")
func()

This is my First Function

In [47]:
"This is my first function"+" in Python"

'This is my first function in Python'

In [48]:
func()+" in Python"

This is my First Function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [24]:
type(func())

This is my First Function

NoneType

In [26]:
def func():
    return "This is my first Function"
func()

'This is my first Function'

In [27]:
func()+"In Python"

'This is my first FunctionIn Python'

In [28]:
def func():
    return "Manav",1,2,122.34
func()

('Manav', 1, 2, 122.34)

In [31]:
type(func())

tuple

In [32]:
a,b,c,d=func()

In [33]:
a

'Manav'

In [34]:
ab=func()

In [35]:
ab[0]

'Manav'

In [36]:
def square(a):
    return a*a

In [37]:
square(11)

121

In [38]:
def sum(a,b):
    return a+b

In [39]:
sum(2,3)

5

In [40]:
sum("Manav","Rastogi")# a,b positional argument

'ManavRastogi'

In [41]:
sum([1,2,3],[5,6,7])

[1, 2, 3, 5, 6, 7]

In [42]:
sum(b="Rastogi",a="Manav")

'ManavRastogi'

In [53]:
#default argument
def sum(b,c,a=0):# default func is passed to the function should be in the last
    return a+b+c

In [56]:
sum(c=1,b=3)

4

In [57]:
def add():
    a=int(input("Enter a no1"))
    b=int(input("Enter a no2"))
    return a+b
add()

34

In [66]:
#give to the list you can give the only numeric value
def onlyno(list1):
    n=[]
    for i in list1:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [67]:
l=[1,2,3.4,"Manav"]
onlyno(l)

[1, 2, 3.4]