In [2]:
#lambda function>> annoynmous function
# no need of square
def square(x):
    return x**2
square(2)

4

In [6]:
sq_lambda=lambda x:x**2

In [7]:
sq_lambda(2)

4

In [8]:
add=lambda a,b:a+b

In [9]:
add(2,3)

5

In [10]:
is_even=lambda x:x%2==0
is_even(23)

False

In [11]:
x=["Python","Datascience","Manav","Rastogi"]
sorted(x)

['Datascience', 'Manav', 'Python', 'Rastogi']

In [14]:
#sorted a list based on the length
le= lambda x:len(x)
le(x)

4

In [16]:
sorted(x,key=lambda x:len(x))

['Manav', 'Python', 'Rastogi', 'Datascience']

In [1]:
#fibonnaci
fib =lambda n:n if n<=1 else fib(n-1)+fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [2]:
#factorial no
def factor(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    return fact
factor(5)

120

In [4]:
def factor(n):
    if n==0:
        return 1
    else:
        return n*factor(n-1)
factor(5)

120

In [5]:
factor=lambda n:1 if n==0 else n*factor(n-1)
[factor(5)]

[120]

In [7]:
#map function >>exectues a specified function for each item of an iterable
l=[12,23,13,11]
def sq(x):
    return x**2
map(sq,l)

In [8]:
list(map(sq,l))

[144, 529, 169, 121]

In [10]:
l=[1,2,3,12,33,5]
def add(x):
    return x+10
list(map(add,l))

[11, 12, 13, 22, 43, 15]

In [2]:
#lambda using map
l=[2,3,4,5,6]
factor=lambda n:1 if n==0 else n*factor(n-1)
list(map(factor,l))

[2, 6, 24, 120, 720]

In [4]:
l=["1","2","3"]
list(map(lambda x:int(x),l))

[1, 2, 3]

In [7]:
l1=[100,101,102]
l2=[23,34,213]
list(map(lambda x,y:x+y,l1,l2))

[123, 135, 315]

In [8]:
name="manavrastogi"
list(map(lambda x:x.upper(),name))

['M', 'A', 'N', 'A', 'V', 'R', 'A', 'S', 'T', 'O', 'G', 'I']

In [9]:
words=["manav","rastogi"]
list(map(str.capitalize,words))

['Manav', 'Rastogi']

In [13]:
grade=["A","B","C","D"]
list(map(lambda x:1 if x=="A" else (2 if x=="B" else (3 if x=="C" else 4)),grade))

[1, 2, 3, 4]

In [14]:
#reduce>> folding or resduction
#reduce will always take to argument
from functools import reduce

In [15]:
l=[2,1,3,4,4,5,6]
reduce(lambda x,y:x+y,l)

25

In [17]:
words=["Data","Science","Manav","Rastogi"]
reduce(lambda x,y:x+" "+y,words)

'Data Science Manav Rastogi'

In [18]:
#most highest value
num=[122,2,4,56,12,199,233,8]
reduce(lambda x,y:x if x>y else y,num)

233

In [21]:
def factorial(n):
    return reduce(lambda x,y:x*y,range(1,n+1))
factorial(5)

120

In [23]:
#filter function it is used to filter the element from an iterable based on some condition
l=[12,21,24,2,6,3,5]
list(filter(lambda x:x%2==0,l))

[12, 24, 2, 6]

In [26]:
l1=[-1,-2,3,-4,5]
list(filter(lambda x:x<0,l1))

[-1, -2, -4]

In [30]:
s=["manav","rastogi","data","science"]
list(filter(lambda x:len(x)>4,s))

['manav', 'rastogi', 'science']

In [31]:
def check_num(n):
    if n%2==0:
        return True
    return False

In [32]:
num=[12,2,34,2,45,2,123]
list(filter(check_num,num))

[12, 2, 34, 2, 2]