In [1]:
# dict is data structure that stores data as key value pair
# keys are unique and immutable

In [3]:
d={}

In [4]:
d={"Name":"Manav","email":"manav@123","contact":123}
d

{'Name': 'Manav', 'email': 'manav@123', 'contact': 123}

In [5]:
type(d)

dict

In [6]:
l1=[1,2,3,4,5]
l1[0]

1

In [8]:
d["Name"]

'Manav'

In [9]:
d["email"]

'manav@123'

In [10]:
d["Name"]="VIjay"

In [11]:
d

{'Name': 'VIjay', 'email': 'manav@123', 'contact': 123}

In [14]:
d={"address":"26th cross,banglore"}
d["address"]

'26th cross,banglore'

In [15]:
d={"key":1}

In [16]:
d["key"]

1

In [17]:
d[1]#you can acess value only key ,vice-versa is not possible

KeyError: 1

In [18]:
#rules of defining key
d={1,"key"}

In [19]:
d

{1, 'key'}

In [20]:
d={True:"any value"}

In [21]:
d

{True: 'any value'}

In [22]:
d={@:"123"}

SyntaxError: invalid syntax (850975709.py, line 1)

In [23]:
d={[1,2,3]:"manav"}

TypeError: unhashable type: 'list'

In [24]:
d={(1,2,3):"abc"}

In [25]:
d

{(1, 2, 3): 'abc'}

In [26]:
d={{1,2,3}:"123"}

TypeError: unhashable type: 'set'

In [27]:
#only string and number can be use as the key
d

{(1, 2, 3): 'abc'}

In [30]:
d={"name":"Manav","email":"mana@123","contact":1234,"name":"vijay"}

In [31]:
d

{'name': 'vijay', 'email': 'mana@123', 'contact': 1234}

In [32]:
d["name"]="Sanjay"

In [33]:
d

{'name': 'Sanjay', 'email': 'mana@123', 'contact': 1234}

In [34]:
d={"name":["Manav","Rastogi","Ajay","Vijay"],"email":"sign@123","contact":1234}

In [35]:
d["name"]

['Manav', 'Rastogi', 'Ajay', 'Vijay']

In [36]:
d

{'name': ['Manav', 'Rastogi', 'Ajay', 'Vijay'],
 'email': 'sign@123',
 'contact': 1234}

In [39]:
d["name"][1]

'Rastogi'

In [40]:
d["address"]="banglore"

In [41]:
d

{'name': ['Manav', 'Rastogi', 'Ajay', 'Vijay'],
 'email': 'sign@123',
 'contact': 1234,
 'address': 'banglore'}

In [42]:
del d["address"]

In [43]:
d

{'name': ['Manav', 'Rastogi', 'Ajay', 'Vijay'],
 'email': 'sign@123',
 'contact': 1234}

In [44]:
del d

In [45]:
d

NameError: name 'd' is not defined

In [46]:
d={"name":["Manav","Rastogi","Ajay","Vijay"],"email":"sign@123","contact":1234}

In [47]:
d.clear()#empty dict

In [48]:
d

{}

In [16]:
d={"name":["Manav","Rastogi","Ajay","Vijay"],"email":"sign@123","contact":1234}
len(d)

3

In [7]:
d.keys()

dict_keys(['name', 'email', 'contact'])

In [8]:
d.values()

dict_values([['Manav', 'Rastogi', 'Ajay', 'Vijay'], 'sign@123', 1234])

In [10]:
d1=d.copy()

In [17]:
d1

{'name': ['Manav', 'Rastogi', 'Ajay', 'Vijay'], 'email': 'sign@123'}

In [18]:
d1.pop("contact")

KeyError: 'contact'

In [19]:
d

{'name': ['Manav', 'Rastogi', 'Ajay', 'Vijay'],
 'email': 'sign@123',
 'contact': 1234}

In [20]:
d["course"]="ds"

In [21]:
d

{'name': ['Manav', 'Rastogi', 'Ajay', 'Vijay'],
 'email': 'sign@123',
 'contact': 1234,
 'course': 'ds'}

In [22]:
d1

{'name': ['Manav', 'Rastogi', 'Ajay', 'Vijay'], 'email': 'sign@123'}

In [23]:
d1.update(d)

In [24]:
d1

{'name': ['Manav', 'Rastogi', 'Ajay', 'Vijay'],
 'email': 'sign@123',
 'contact': 1234,
 'course': 'ds'}

In [25]:
d1["name"]

['Manav', 'Rastogi', 'Ajay', 'Vijay']

In [27]:
d.get("name")

['Manav', 'Rastogi', 'Ajay', 'Vijay']

In [29]:
d["course"]

'ds'

In [30]:
len(d)

4

In [31]:
#from keys
d.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [34]:
# dictionary compresension
#zip function
stu=["Manav","Vijay","Rastogi"]
mark=[80,95,100]
for i in zip(stu,mark):
    print(i)

('Manav', 80)
('Vijay', 95)
('Rastogi', 100)

In [35]:
# store the above info in key value pair >>dict
stu=["Manav","Vijay","Rastogi"]
mark=[80,95,100]
stu_mrks={}
for stu,mark  in zip(stu,mark):
    stu_mrks[stu]=mark

In [36]:
stu_mrks

{'Manav': 80, 'Vijay': 95, 'Rastogi': 100}

In [39]:
#using dict compresension method
stu=["Manav","Vijay","Rastogi"]
mark=[80,95,100]
{stu:mark for stu,mark in zip(stu,mark)}

{'Manav': 80, 'Vijay': 95, 'Rastogi': 100}

In [40]:
#use casse
user_id=[1,2,3]
user_name=["a21","a22","a23"]
user_id

[1, 2, 3]

In [41]:
{user_id:user_name for user_id,user_name in zip(user_id,user_name)}

{1: 'a21', 2: 'a22', 3: 'a23'}

In [42]:
emp_record={
    'E001':{'name':'john Doe','department':'eng','salary':750000},
    'E002':{'name':'Jane Smith','department':'Marketing','salary':650000},
    'E003':{'name':'David','department':'Finance','salary':8000000}
}

In [43]:
emp_record

{'E001': {'name': 'john Doe', 'department': 'eng', 'salary': 750000},
 'E002': {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 650000},
 'E003': {'name': 'David', 'department': 'Finance', 'salary': 8000000}}

In [44]:
emp_record.get('E001')

{'name': 'john Doe', 'department': 'eng', 'salary': 750000}

In [47]:
rest_menu={
    'Dish1':{'name':'Pasta Carbonara','price':15.99,'discription':'Creamy pasta'},
    'Dish2':{'name':'Chicken salad','price':12.50,'discription':'Grilled chicken'}
    
}

In [48]:
rest_menu['Dish1']

{'name': 'Pasta Carbonara', 'price': 15.99, 'discription': 'Creamy pasta'}

In [49]:
#dict view object
rest_menu.keys()

dict_keys(['Dish1', 'Dish2'])

In [50]:
rest_menu.items()

dict_items([('Dish1', {'name': 'Pasta Carbonara', 'price': 15.99, 'discription': 'Creamy pasta'}), ('Dish2', {'name': 'Chicken salad', 'price': 12.5, 'discription': 'Grilled chicken'})])

In [53]:
for key,value in rest_menu.items():#iterate both key and value

    print(key,value)

Dish1 {'name': 'Pasta Carbonara', 'price': 15.99, 'discription': 'Creamy pasta'}
Dish2 {'name': 'Chicken salad', 'price': 12.5, 'discription': 'Grilled chicken'}

In [54]:
#iterate over only keys
for key in rest_menu.keys():
    print(key)

Dish1
Dish2

In [55]:
for value in rest_menu.values():
    print(value)

{'name': 'Pasta Carbonara', 'price': 15.99, 'discription': 'Creamy pasta'}
{'name': 'Chicken salad', 'price': 12.5, 'discription': 'Grilled chicken'}