In [1]:
#datastrucure>> a way to organising and storing the data so that it can access and mainpulating
#>> string ,set ,tuple ,array, list
# list >> you can anything in list (hetrogenous data ),ordered collection,mutable
#

In [2]:
l=[1,2,34,1,4]
type(l)

list

In [3]:
l[3]

1

In [4]:
l[-1]

4

In [5]:
l[5]

IndexError: list index out of range

In [6]:
a=[1,2.3,"amanb",3+5j]
a

[1, 2.3, 'amanb', (3+5j)]

In [7]:
#adding element to the list
a.append("Baigan")

In [8]:
a

[1, 2.3, 'amanb', (3+5j), 'Baigan']

In [10]:
a.remove(1)

In [11]:
a

[2.3, 'amanb', (3+5j), 'Baigan']

In [12]:
lis=[[1,2,3],[4,5,6],124]

In [13]:
lis

[[1, 2, 3], [4, 5, 6], 124]

In [15]:
lis[0][0]

1

In [16]:
#list is mutable
l1=["Manav","Name","Data"]
l1[1]="Rastogi"

In [17]:
l1

['Manav', 'Rastogi', 'Data']

In [19]:
for item in l1:
    print(item,end=" ")

Manav Rastogi Data

In [20]:
#tuple>> immutable,
a=(2,4)

In [21]:
type(a)

tuple

In [24]:
#use case>>aaddhar card no>>you dont want to change
t=(1,2.3,122,"Manav")#hetrogenous
t

(1, 2.3, 122, 'Manav')

In [25]:
t[0]

1

In [26]:
emp=("Manav","Raghav","Ram")

In [27]:
emp[2]="Rastogi"

TypeError: 'tuple' object does not support item assignment

In [32]:
box1=("a","b")
box2=("c","d")
choc_bag=(box1,box2)
hi=box1+box2
hi

('a', 'b', 'c', 'd')

In [29]:
choc_bag

(('a', 'b'), ('c', 'd'))

In [34]:
for i in choc_bag:
    for j in i:
        print(j)

a
b
c
d

In [36]:
#sets are unordered collection of unique element 
s={"Red","Orange"}
s

{'Orange', 'Red'}

In [37]:
type(s)

set

In [38]:
s1={1,2,1,3,4,1,4,5,56,7}
s1

{1, 2, 3, 4, 5, 7, 56}

In [39]:
s1

{1, 2, 3, 4, 5, 7, 56}

In [40]:
s2={"a","A","a",12.3,1,1,2,3,1}
s2

{1, 12.3, 2, 3, 'A', 'a'}

In [ ]:
s2[0]# no concept of indexing

TypeError: 'set' object is not subscriptable

In [44]:
s2.add("manav")#mutable
s2

{1, 12.3, 2, 3, 'A', 'a', 'manav'}

In [49]:
s2.remove(1)
s2.remove(3)

In [50]:
s2

{12.3, 2, 'A', 'a', 'manav'}

In [51]:
#use case>>to get the unique element 
list1={"Apple","Bnanana","Bnanana"}
list1

{'Apple', 'Bnanana'}

In [52]:
#dictionary>> which stores the data in the form of key values pair 
my_dict={"Name":"Manav",
         "Last":"Rastogi"
        }
my_dict

{'Name': 'Manav', 'Last': 'Rastogi'}

In [56]:
#use case
phonebook={"Dad":9191,
           "Papa":27191,
           "Brother":123,
           "Dad":1234
           }
phonebook["Dad"]

1234

In [58]:
rest_menu={"Panner_khotha":280,"alloo_parthe":200}

In [59]:
rest_menu["Panner_khotha"]=780

In [60]:
rest_menu

{'Panner_khotha': 780, 'alloo_parthe': 200}

In [61]:
rest_menu.keys()

dict_keys(['Panner_khotha', 'alloo_parthe'])

In [62]:
rest_menu.values()

dict_values([780, 200])

In [65]:
from array import array

In [67]:
#array is similat to list but it store homogenous to data
array("i",[1,2,2,4])

array('i', [1, 2, 2, 4])

In [68]:
#string 
s="Manav"
type(s)

str

In [70]:
for i in s:
    print(i)

M
a
n
a
v

In [71]:
s[0]='a'#imutable

TypeError: 'str' object does not support item assignment