In [1]:
#string is sequence of character >>represent or manipulate the textual data
#ascii 7 bit unicode 16 bits

In [2]:
#ascii representation
char="A"
ord(char)

65

In [3]:
chr(65)

'A'

In [4]:
ord("a")

97

In [6]:
#unicode
'\u03A3'

'Σ'

In [8]:
'\u0974'

'ॴ'

In [9]:
#string
s="Manav"

In [10]:
"I'm am student"

"I'm am student"

In [11]:
#concetenation of two string
"Heelo "+"Wizard"

'Heelo Wizard'

In [12]:
s1="Heeloo"
s2="Wizard"
s1+" "+s2

'Heeloo Wizard'

In [13]:
#extract/slicing of the string
a="Ajay"
a[0]

'A'

In [14]:
a[-1]

'y'

In [15]:
s1="I am a good student"
s1[0:4]#4 is exclusive

'I am'

In [16]:
s1[0:]

'I am a good student'

In [17]:
s1[3:]

'm a good student'

In [18]:
s2="Maanav"
s2[1]

'a'

In [19]:
s2[-2]

'a'

In [20]:
#except the last three character
s2[:-3]

'Maa'

In [4]:
#you want last charcter
s2="Manaavvv"
s2[-3:]

'vvv'

In [5]:
s2[0:6:2]#[start:end:step]

'Mna'

In [6]:
s2[::2]

'Mnav'

In [7]:
s2[::-1]

'vvvaanaM'

In [10]:
#string are immutable
s="Manav"
s[0]="A"

TypeError: 'str' object does not support item assignment

In [11]:
#length
len(s)

5

In [12]:
#modification 
s="I am a student"
s.replace("student","Teacher")

'I am a Teacher'

In [17]:
text="BRB,TTYL,LOL"
text.replace("BRB","Be right back").replace("TTYL","talk to you later").replace("LOL","laughing out loud")

'Be right back,talk to you later,laughing out loud'

In [18]:
text="Hello World"
text.lower()

'hello world'

In [19]:
text.upper()

'HELLO WORLD'

In [20]:
text.title()

'Hello World'

In [21]:
t="I am a Student"
t.swapcase()

'i AM A sTUDENT'

In [22]:
t.capitalize()

'I am a student'

In [24]:
#string searching 
s1="I am a student"
"am" in s1

True

In [25]:
s1="Hello welcome to wizard world"
search_word="wizard"
if search_word in s1:
    print("Search word is present")
else:
    print("Search Word is not present")

Search word is present

In [26]:
email="1233"
if "@" in email:
    print("Valid Email")
else:
    print("Invalid Email")

Invalid Email

In [27]:
doc="Helllo.pdf"
if ".pdf" in doc:
    print("Its a pdf")
else:
    print("Its not a pdf")

Its a pdf

In [28]:
#string comparision
str1="Hello"
str2="Hello"
str1==str2

True

In [30]:
s1="Hello"
s2="hello"
s1.lower()==s2.lower()

True

In [31]:
reg_user=["hi","HI","Hii"]
new_user="Hiii"
if new_user in reg_user:
    print("Already exists")
else:
    print("Available")

Available

In [33]:
#string ordering
name=["Ajay","Manav","Rastogi"]
sorted(name)

['Ajay', 'Manav', 'Rastogi']

In [34]:
#common string opration
input_str="    manav   "
input_str

'    manav   '

In [35]:
input_str.strip()

'manav'

In [ ]:
#string splliting
data="Ajay,datascince,Manav"
data.split(",")

['Ajay', 'datascince', 'Manav']

In [43]:
#escape sequence >> special character used within the string
address="""123 ,sanumukha villa \nmarathailli
banglore
 """
address

'123 ,sanumukha villa \nmarathailli\nbanglore\n '

In [44]:
print(address)

123 ,sanumukha villa
marathailli
banglore

In [46]:
#\t
table="Name\tage\tGrade\nManav\t21\tA"

In [47]:
print(table)

Name	age	Grade
Manav	21	A

In [48]:
s1="I can\'t play "

In [49]:
s1

"I can't play "

In [50]:
#carriage return \r>>move the cursor to the begning of the line
print("I am \rManav rastogi")

Manav rastogi

In [52]:
#string formatting>>creating string with placeholder for the variable
name="Manav"
greeting=f"hello {name} how are you?"
print(greeting)

hello Manav how are you?

In [54]:
#string formatting
name="Manav"
greeting="hello %s how are you?"%name
greeting

'hello Manav how are you?'

In [ ]:
#.format
greet="Hello{},welcome to {} world"
greet.format("Manav","Wizard")

'HelloManav,welcome to Wizard world'

In [57]:
str1="Manav"
str1.startswith("M")

True

In [58]:
str1.endswith("anav")

True

In [59]:
a="12abc"
a.isalnum()

True