In [ ]:
# tuple are the oredered collection of element, hetrogeneous
# tuple are immutable

In [2]:
t=()
type(t)

tuple

In [3]:
t=("Manav","Rastogi",1,2.3,5+4j)
type(t)

tuple

In [4]:
t[0]

'Manav'

In [5]:
t[-1]

(5+4j)

In [6]:
#tuple are immutable

In [7]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [8]:
empid=(1,2,3,4,5)
empid[0]=100

TypeError: 'tuple' object does not support item assignment

In [1]:
tuple1=("Manav",1,1,1,2,2.2)
tuple1.count(1)

3

In [2]:
tuple1.count("Manav")

1

In [3]:
tuple1.index("Manav")

0

In [4]:
tuple1*2

('Manav', 1, 1, 1, 2, 2.2, 'Manav', 1, 1, 1, 2, 2.2)

In [5]:
tuple1[0:4]

('Manav', 1, 1, 1)

In [6]:
tuple1[::-1]

(2.2, 2, 1, 1, 1, 'Manav')

In [7]:
for i in tuple1:
    print(i)

Manav
1
1
1
2
2.2

In [8]:
t1=(1,2,100,0,200)
max(t1)

200

In [9]:
t2=(101,102)

In [10]:
t3=(t1,t2)

In [11]:
t3

((1, 2, 100, 0, 200), (101, 102))

In [12]:
del t3

In [13]:
t3

NameError: name 't3' is not defined

In [14]:
t1

(1, 2, 100, 0, 200)

In [15]:
len(t1)

5

In [16]:
1 in t1

True

In [17]:
"Rastogi" not in t1

True

In [18]:
t1

(1, 2, 100, 0, 200)

In [19]:
t2

(101, 102)

In [20]:
#combine both the tuple
t1+t2

(1, 2, 100, 0, 200, 101, 102)

In [21]:
#sets>>unordered and unique collection of element
#doesnt allow duplicate element 
#unorederd indexing will not works
s={}

In [22]:
type(s)

dict

In [23]:
s={1}
type(s)

set

In [24]:
s={1,2,3,4,5}
type(s)

set

In [25]:
s={1,2,1,2,2,"Manav","Manav"}
s

{1, 2, 'Manav'}

In [26]:
#use case
list1=[1,2,3,"Brinjal","Apple","Apple"]
s=set(list1)

In [27]:
s

{1, 2, 3, 'Apple', 'Brinjal'}

In [28]:
list1=list(s)

In [29]:
list1

[1, 2, 3, 'Brinjal', 'Apple']

In [30]:
s[0]

TypeError: 'set' object is not subscriptable

In [31]:
s[1]

TypeError: 'set' object is not subscriptable

In [32]:
s={1,2,1,2,3,5}
s

{1, 2, 3, 5}

In [33]:
s={1,2,3,4,{1,2,3,}}
s

TypeError: unhashable type: 'set'

In [34]:
s1={1,2,3,4,[1,2,3]}#set inside set is immutable
#immutable dataset has a stable hash value like tuple
s1

TypeError: unhashable type: 'list'

In [35]:
s3={1,2,3,4,(1,2,3,4)}
s3#it doesnt take error beacuse its is immutable

{(1, 2, 3, 4), 1, 2, 3, 4}

In [36]:
s

{1, 2, 3, 5}

In [37]:
s[0]

TypeError: 'set' object is not subscriptable

In [38]:
s[:2]

TypeError: 'set' object is not subscriptable

In [39]:
for i in s:
    print(i)

1
2
3
5

In [44]:
s.add(100)

In [41]:
s.pop()

1

In [42]:
s

{2, 3, 5, 100}

In [45]:
s

{2, 3, 5, 100}

In [46]:
s.remove(3)

In [47]:
s

{2, 5, 100}

In [ ]:
s.pop(5)#it remove randomly

TypeError: set.pop() takes no arguments (1 given)

In [50]:
s.remove(102)

KeyError: 102

In [51]:
s

{2, 5, 100}

In [54]:
s.update(["Manav"])#update taje iterable

In [55]:
s

{100, 2, 5, 'M', 'Manav', 'a', 'n', 'v'}

In [56]:
s.update([2,3])

In [57]:
s

{100, 2, 3, 5, 'M', 'Manav', 'a', 'n', 'v'}

In [59]:
s={(1,2,3),100,"2",3.4}

In [61]:
s.clear()

In [62]:
s

set()

In [63]:
del s

In [64]:
s

NameError: name 's' is not defined

In [67]:
s={1,2,2.3,3+4j}
s

{(3+4j), 1, 2, 2.3}

In [68]:
s.discard(1)

In [69]:
s

{(3+4j), 2, 2.3}

In [73]:
#set operation
s1={"Manav","reading","coding"}
s2={"coding","photography"}
#union
s1 |s2

{'Manav', 'coding', 'photography', 'reading'}

In [74]:
#intersection >>common element
s1 &s2

{'coding'}

In [75]:
#differnece
s1-s2

{'Manav', 'reading'}

In [77]:
#symmetric differnce
s1^s2

{'Manav', 'photography', 'reading'}

In [78]:
#frozen set
s={1,2,3}
s.add(100)

In [79]:
s

{1, 2, 3, 100}

In [80]:
#frozen set >>immutable vrsion of sets
my_fs=frozenset([1,2,2,3,1,2,2,3])
my_fs

frozenset({1, 2, 3})

In [81]:
type(my_fs)

frozenset

In [82]:
my_fs.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [83]:
my_fs.pop()

AttributeError: 'frozenset' object has no attribute 'pop'